.app {
  background: teal;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.todos {
  width: 70vw;
  padding: 30px;
}

.todo {
  height: 46px;
  color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  background: grey;
  margin-top: 10px;
  padding: 10px;
}

.todo-label {
  display: flex;
  align-items: center;
}

.strike {
  text-decoration: line-through;
}

.icon {
  margin-right: 8px;
}

.icon:hover {
  cursor: pointer;
}